{% extends 'base.html.twig' %}

{% block body %}
<div class="blog-page">
    <twig:PageHeader title="Blog" class="text-center" />
    <div class="sm:max-w-2xl sm:mx-auto mb-10">
        <twig:BlogEntry
            content="{{ blog_entry.content }}"
            date="{{ blog_entry.date }}"
            link="{{ blog_entry.link }}"
            time="{{ blog_entry.time }}"
            title="{{ blog_entry.title }}"
        />
        {% include 'elements/container_back_button.html.twig' %}
    </div>
</div>
{% endblock %}
